h1 {
	font-family: Graduate, Georgia, "Times New Roman", Times, serif;
	color: rgb(92, 3, 68);
	text-shadow: black 1px 1px 1px;
	font-weight: normal;
	margin: 0;
	padding: .25em 0 .25em 0;
	border-bottom: 1px solid #ccc;
}

h2 {
	font-family: Graduate, Georgia, "Times New Roman", Times, serif;
	color: rgb(92, 3, 68);
	text-shadow: black 1px 1px 1px;
	font-weight: normal;
	margin: 0;
	padding: .25em 0 .25em 0;
	border-bottom: 1px solid #ccc;

}